@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500&display=swap");

@font-face {
  font-family: "Blacker";
  src: url(./blacker-sans.light.woff2) format("woff2");
  font-weight: light;
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: "Moniqa";
  src: url(./moniqa-italic.woff2) format("woff2");
  font-style: italic;
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: "Moniqa";
  font-style: normal;
  src: url(./moniqa.woff2) format("woff2");
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: "Rozha";
  src: url(./rozha-one-regular.woff2) format("woff2");
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: "Italiana";
  src: url(./italiana.woff2) format("woff2");
  unicode-range: U+0020-007F;
}
