@import "assets/styles/mixins";

.nav {
  top: 0px;
  padding: 15px var(--padding-y) !important;
  background-color: $dark;
  h1,
  p,
  a {
    color: $white !important;
  }

  button[aria-controls="offcanvas-container"] {
    border: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  div[id="personal_picture"] {
    background: url("../../assets/images/profile_avatar.jpg") center center
      no-repeat;
    background-size: cover !important;
    width: 50px;
    height: 50px;
    border-radius: 18px;
  }

  h1,
  p {
    margin: 0;
  }
  h1 {
    font-family: Rozha;
    font-weight: bold;
    font-size: 32px;
    margin-left: 15px;
  }
  p {
    font-size: 1rem;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      display: flex;
      height: 1px;
      width: 50px;
      background: white;
      margin: 0 10px;
    }
  }
}

//Offcanvas
.offcanvasLinks {
  transform: translateY(30px);
  margin-left: 40px;
  a {
    @include hover_underline($white);
  }
}
div[class="offcanvas offcanvas-end"] {
  height: 100px;
}

div[class="offcanvas offcanvas-end show"],
div[class="offcanvas offcanvas-end offcanvas-toggling"],
div[class="offcanvas offcanvas-end offcanvas-toggling show"] {
  background-color: $light-grey !important;
  max-width: 320px;
  a {
    color: $dark;
    opacity: 0.8;
    font-weight: 400;
    font-size: var(--fs-l);
    text-align: end;
    font-family: Italiana !important;
    transition: 0.4s ease;
    background-image: none;
    &:hover {
      color: $yellow;
      opacity: 1;
      letter-spacing: 4px;
    }
  }

  button[class="btn-close"] {
    transform: scale(0.7);
  }
}
div[class="offcanvas-header"] {
  justify-content: end;
}

//Responsive
@media only screen and (max-width: $breaking-point-sm) {
  .logo {
    p {
      display: none;
    }
  }
}
