@import "assets/styles/mixins";

.container {
  margin-bottom: 120px;
  h3 {
    font-size: var(--fs-l);
    margin-bottom: 19px;
  }
}

.image {
  max-height: 400px;
}

.date {
  @include date_category_container;
  margin-bottom: 19px;
}
