@import "assets/styles/mixins";

.appLink {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  font-weight: 400;
  @include hover_underline($white);
  &:hover {
    letter-spacing: 6px;
  }
}

.readNow {
  @include read_button;
}
