@import "assets/styles/mixins";

.container {
  text-align: center;
  max-width: 600px;
  margin: auto;
  h1 {
    font-family: Italiana;
    font-size: clamp(10rem, 50vw, 20rem);
    margin-bottom: -15px;
  }
  img {
    max-width: 90px;
    min-width: 60px;
    width: 15vw;
    height: auto;
    margin-bottom: 20px;
  }
}

.backButton {
  background-color: transparent;
  @include read_button;
  margin: auto;
  margin-top: 60px;
  border: none;
  display: flex;
  align-items: center;
  transition: 0.4s ease;
  background-image: none;
  font-size: 1rem;
  letter-spacing: 2px;

  &:hover {
    opacity: 1;
    letter-spacing: 4px;
  }
}
