@import "assets/styles/mixins";

.container {
  position: fixed;
  top: 60px;
  left: 0;
  background-color: $green;
  height: 7px;
  width: 100%;
  left: 0;
  right: 0;
  transform-origin: 0%;
  z-index: 100;
}
