//Colors
$dark: #1c1c1c;
$grey: #a6a6a6;
$light-grey: #f3f3f3;
$white: #ffffff;
$yellow: #ffca6c;
$grey-yellow: #edeee9;

//Sizes
$breaking-point-xxl: 1400px;
$breaking-point-xl: 1200px;
$breaking-point-lg: 992px;
$breaking-point-md: 768px;
$breaking-point-sm: 576px;
$breaking-point-xs: 380px;
$breaking-point-xxs: 330px;

//Shapes
@mixin button($color) {
  background: linear-gradient($dark 0 0) right / var(--p, 0) no-repeat;
  transition: 0.4s, background-position 0s;

  text-transform: uppercase;
  border: 1px solid $color;
  padding: 0.25rem 1.5rem;
  color: $color;
  &:hover {
    color: white;
    --p: 100%;
    background-position: left;
  }
}
@mixin read_button {
  color: $dark;
  @include hover_underline($dark);
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;
}

//hover
@mixin hover_underline($color) {
  margin: 0 14px;
  padding-bottom: 2px;
  background-image: linear-gradient($color, $color);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s,
    letter-spacing 0.3s;
  &:hover {
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 2px;
  }
}

@mixin hover_scale($size, $time) {
  transition: $time ease;
  cursor: pointer;
  &:hover {
    transform: scale($size);
  }
}

//page
@mixin page_container {
  padding: 160px var(--padding-y) 100px;
  min-height: 95vh;

  //Responsive
  @media only screen and (max-width: $breaking-point-md) {
    padding: 130px var(--padding-y);
  }
}

@mixin date_category_container {
  display: flex;
  justify-content: space-between;
  color: $grey;
  & p {
    font-size: var(--fs-s);

    &:first-child {
      text-transform: uppercase;
      letter-spacing: 1.4px;
    }
  }
}

//Blog
@mixin blog_settings {
  h1 {
    font-family: Italiana, sans-serif;
    font-size: var(--fs-xxl);
  }
  h2 {
    font-size: var(--fs-xl);
    margin-bottom: 70px;
  }
  h3 {
    font-weight: 400;
  }
}

//Title
@mixin title_transparent {
  @supports (-webkit-text-stroke: 1px white) {
    .container {
      h1 {
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
      }
    }
  }
}
//Exports
:export {
  dark: $dark;
  grey: $grey;
  grey-yellow: $grey-yellow;
  light-grey: $light-grey;
  white: $white;
  yellow: $yellow;
  mobile_breaking_point: $breaking-point-sm;
}
