@import "assets/styles/mixins";

.container {
  @include blog_settings;
}

.wrapper {
  p[class="article_description"] {
    text-align: justify;
  }
}

.categoryContainer {
  margin-bottom: 50px;
}

//Responsive
@media only screen and (max-width: $breaking-point-md) {
  .categoryContainer {
    margin-bottom: 0;
  }
}
