@import "assets/styles/mixins";

.container {
  h1 {
    font-size: var(--fs-l);
    margin-bottom: 68px;
  }
}
.notFound {
  text-align: center;

  span {
    font-weight: 400;
    font-style: italic;
  }
  p {
    font-size: var(--fs-m);
    &:last-of-type {
      color: $grey;
      font-size: var(--fs-s);
    }
  }
}

//Responsive
@media only screen and (max-width: $breaking-point-md) {
  .container {
    margin-top: 40px;
  }
}
